:root {
    --primary-text-color: #757575;
    --titel-text-color: #212121;
    --accent-text-color: #2196F3;
    --hero-text-color: #FFFFFF;
    --logo-text-color: #000000;
    --accent-bgr-color: #F5F4FA;
    --hero-bgr-color: #2F303A;

}

/*колір основного тексту #757575;
другорядний колір тексту  #212121;
акцент #2196F3
акцент заголовка #FFFFFF
адрес #FFFFFF99
колір фону 2F303A
колір фону другий F5F4FA
*/
body {
    font-family: Montserrat, sans-serif;
    font-family: 'Roboto';
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0.03em
}

.list {
    list-style: none;
}

/*-------------------HEADER------------------------ */
/* logo */
.header-logo {
    color: var(--logo-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    text-decoration: none;
}

.header-logo:hover,
.header-logo:focus {
    color: var(--accent-text-color);
}

.header-logo.logo {
    color: var(--accent-text-color);
}


/* nav linc */
.header-nav.linc {
    color: var(--titel-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.header-nav.linc-current {
    color: var(--accent-text-color);
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-nav:hover,
.header-nav:focus {
    color: #2196F3;
}



/* email tel */
.header-email {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.header-tel {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.header-email:hover,
.header-email:focus {
    color: var(--accent-text-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-text-color);
}

/*--------------------MAIN------------------------- */
/* -------hero------- */
.section-hero {
    background-color: var(--hero-bgr-color)
}

.section-hero.title {
    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* button */
.section-hero.button {
    background-color: var(--accent-text-color);
    color: var(--hero-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
}

.section-hero.button:hover,
.section-hero.button:focus {
    background-color: var(--accent-bgr-color);
    color: #000000;
}

/* -----benefits------ */
.section-benefits.title {
    color: var(--titel-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
}

.section-benefits.text {
    font-size: 14px;
    line-height: calc(24 / 14);
}

/* --------work------- */
.section-work.title {
    color: var(--titel-text-color);
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
}


/* -------team-------- */
.section-team.title {
    color: var(--titel-text-color);
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;

}

.section-team.heading {
    color: var(--titel-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
}

.section-team.text {
    font-size: 16px;
    line-height: calc(19 / 16);
}

/* ---------------------FOOTER------------------- */
.footer {
    background-color: var(--hero-bgr-color);
}

.footer-logo {
    color: var(--hero-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    text-decoration: none;
}

.footer-logo.logo {
    color: var(--accent-text-color);
}

.footer-logo:hover,
.footer-logo:focus {
    color: #2196F3;
}

.footer-address.more {
    color: var(--hero-text-color);
    font-style: normal;
    text-decoration: none;
    line-height: calc(24 / 14);
}

.footer-address.more:hover,
.footer-address.more:focus {
    color: var(--accent-text-color);
}

.footer-email.email {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: calc(24 / 14);
    text-decoration: none;
}

.footer-tel.tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: calc(24 / 14);
    text-decoration: none;
}

.footer-email.email:hover,
.footer-email.email:focus {
    color: var(--accent-text-color);
}

.footer-tel.tel:hover,
.footer-tel.tel:focus {
    color: var(--accent-text-color);
}

/* ----------------------PORTFOLIO------------------- */
button {
    background-color: var(--accent-bgr-color);
    color: var(--titel-text-color);
    font-family: 'Roboto';
    letter-spacing: 0.03em;
}

button:hover,
button:focus {
    background-color: var(--accent-text-color);
    color: var(--hero-text-color);
    cursor: pointer;
    font-family: 'Roboto';
    letter-spacing: 0.03em;
}

.section-filter.title {
    color: var(--titel-text-color);
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}

.section-filter.linc {
    font-size: 16px;
    line-height: calc(30 / 16);
}